.idea-creation-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
}

.idea-creation-container-dark {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}


.lightbulb {
  width: 250px;

}

.lightbulb:hover {
  cursor: pointer;
}